@use 'reset'; 
@use 'footer'; 

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); 

body { 
    background-color: hsl(212, 23%, 69%, 50%); // gradient? linear vertical? 
    font-family: 'manrope', sans-serif;
    text-align: left;
    font-size: 0.8em; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100svw; 
    height: 100svh; 
}

.card { 
    background-color: white;
    border-radius: 16px;
    padding: 0 0 10px 0; 
    margin: 30px 20px; 
    color: hsl(217, 19%, 35%); // title only 
    max-width: 22rem; 
    // drop-shadow 
}

img { 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    border-top-right-radius: 16px; 
    border-top-left-radius: 16px; 
    max-height: 200px; 
    object-fit: cover; // never used this before! 
}

.text-content { 
    padding: 20px 30px 20px 30px; 
}

.title { 
    font-size: 1.3em;
    font-weight: 700;
}

.subtitle {
    color: hsl(212, 23%, 69%); 
    font-size: 1.05em; 
    line-height: 160%;
    font-weight: 500;
}

.details { 
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.author-div { 
    display: flex; // do not forget this when using shorthand flex! 
    flex-flow: row wrap; 
    justify-content: flex-start;
    align-items: center;

    img { 
        width: 15%; 
        height: 15%; 
        border-radius: 50%;
        order: -1; 
        padding: 5px;
        margin: 10px;  
    }
}