@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
a:link {
  color: inherit; /* no blue default link color */
  text-decoration: none;
}

a:visited {
  color: inherit; /* no purple visited links */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

body {
  background-color: hsla(212, 23%, 69%, 0.5);
  font-family: "manrope", sans-serif;
  text-align: left;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100svw;
  height: 100svh;
}

.card {
  background-color: white;
  border-radius: 16px;
  padding: 0;
  margin: 30px 20px;
  color: hsl(217, 19%, 35%);
  max-width: 22rem;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  max-height: 200px;
  object-fit: cover;
}

.text-content {
  padding: 20px 30px 10px 30px;
}

.title {
  font-size: 1.3em;
  font-weight: 700;
}

.subtitle {
  color: hsl(212, 23%, 69%);
  font-size: 1em;
  line-height: 170%;
  font-weight: 500;
}

.author-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px -20px 0 -20px;
}
.author-div .author-icon {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  order: -1;
  padding: 5px;
  margin: 10px;
}

.author-div.is-hidden {
  display: none;
}

.author-date {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}
.author-date .author, .author-date .date {
  margin: 2px;
  font-size: 1em;
}
.author-date .author {
  font-weight: 700;
}
.author-date .date {
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}

.share-button {
  border-radius: 50%;
  background: url(../images/icon-share.svg) no-repeat center hsla(212, 23%, 69%, 0.3);
  min-width: 30px;
  min-height: 30px;
  border: none;
  margin-left: 80px;
  cursor: pointer;
}

.js-div {
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  height: auto;
  width: 100%;
  margin: 0 -20px 0 0;
  padding: 0 10px;
}

.js-div.is-open {
  display: flex;
}

.share-button-js {
  display: none;
  background: url(../images/icon-share.svg) hsl(214, 17%, 51%) no-repeat center;
  border: none;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  margin-left: 80px;
}

.share-text {
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
  letter-spacing: 7px;
  margin: 20px;
  margin-right: 0;
}

.icons-list {
  display: flex;
  flex-shrink: 0;
  color: white;
  background: hsl(217, 19%, 35%);
  padding: 0;
  margin-left: 10px;
}
.icons-list img {
  border-radius: 50%;
  margin: 5px;
  padding: 0 3px;
  max-width: 80%;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 35rem;
    max-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    position: relative;
  }
  img {
    width: 40%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    min-height: 100%;
    object-position: 0 50%;
  }
  .text-content {
    width: 60%;
  }
  .title {
    font-size: 1.1em;
    margin-right: 15px;
  }
  .subtitle {
    font-size: 0.8em;
  }
  .author-div {
    margin-top: -10px;
  }
  .author-div .author, .author-div .date {
    font-size: 0.8em;
  }
  .author-div .author-icon {
    width: 13%;
    height: 13%;
    margin: 10px;
  }
  .author-div .author-date {
    margin-left: -5px;
  }
  .share-button {
    margin-left: 125px;
    min-height: 25px;
    min-width: 25px;
  }
  .js-div {
    visibility: hidden;
    position: absolute;
    bottom: 75px;
    left: 400px;
    display: flex;
    flex-direction: row;
    height: 40px;
    max-width: 225px;
    border-radius: 12px;
  }
  .js-div::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid hsl(217, 19%, 35%);
    bottom: -8px;
    right: 95px;
  }
  .js-div.is-open {
    visibility: visible;
  }
  .share-text {
    font-size: 0.7em;
    margin: 20px;
  }
  .share-button-js {
    display: none;
  }
  li {
    display: flex;
  }
  .icons-list {
    flex-shrink: 1;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
  }
  .icons-list img {
    padding: 0;
    margin-left: 5px;
    width: 20px;
  }
  footer {
    position: absolute;
    bottom: 100px;
  }
}

/*# sourceMappingURL=output.css.map */
